 #flex {
  display:flex;
}
#inline label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#inline .form-group {
  display: table-row;
}
.bslib-value-box .value-box-value {
  font-size: 20px;
}
/* .dropdown {
  z-index:1 !important;
} */

/* .bslib-full-screen.bslib-full-screen-enter-active {
  z-index: 100000 !important;
} */

.bslib-sidebar-layout .sidebar-title {
  margin-top: -1.5rem;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  color: #646967ff;
}

.wrn_alert body{
  font: 16px/1.5 Helvetica, sans-serif;
  display: flex;
  align-items:center;
  justify-content: center;
  color:#585442;
}
.wrn_alert{
  display: flex;
  align-items:center;
  padding: 0.55rem 0.65rem 0.55rem 0.75rem;
  border-radius:1rem;
  min-width:400px;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.wrn_content{
  display: flex;
  align-items:center;
}
.wrn_icon{
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius:39% 61% 42% 58% / 50% 51% 49% 50%;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.warning{
  background-color: rgba(213, 156, 63, 0.2);
  border:2px solid #e79d27ff;
}
.warning .wrn_icon{
  background-color: #f1d19fff;
}

.div_med{
  margin-inline: 30px;
}

#steps_frag h3 {
  color: rgba(137, 208, 196, 1);
}
body ol {
  list-style: none;
  counter-reset: item;
  font: 20px/1.5 Helvetica, sans-serif;
  color: rgba(128, 133, 135, 1)
}
#steps_frag li {
  counter-increment: item;
  margin-bottom: 20px;
}
#steps_frag li:before {
  margin-right: 10px;
  content: counter(item);
  background: rgba(137, 208, 196, 1);
  border-radius: 100%;
  color: white;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}

.importante {
  font: 18px/1.5 Helvetica, sans-serif;
  color:rgba(128, 133, 135, 1)
}
.importante h3 {
  color: rgba(137, 208, 196, 1);
}
.importante ul {
  list-style: none;
}
.importante .ul_main li::before {
  content: "";
  background-image: url(leaf.svg);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.importante .ul_sec li::before {
  content: "";
  background-image: url(leaves.svg);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
}
.importante ul li {
  margin-bottom: 0.8rem
}

/*Estilo de tabla*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #65a498ff;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #65a498ff;
}
.styled-table th:first-child,
.styled-table td:first-child {
    white-space: nowrap;
}

table.dataTable tbody tr.selected {
  background-color: #A9DFBF !important;
}
