 #flex {
  display:flex;
}
#inline label {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#inline .form-group {
  display: table-row;
}
.bslib-value-box .value-box-value {
  font-size: 20px;
}
.dropdown {z-index:99999 !important;}

.bslib-sidebar-layout .sidebar-title {
  margin-top: -1.5rem;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: bold;
  color: #646967ff;
}

.wrn_alert body{
  font: 16px/1.5 Helvetica, sans-serif;
  display: flex;
  align-items:center;
  justify-content: center;
  color:#585442;
}
.wrn_alert{
  display: flex;
  align-items:center;
  padding: 0.55rem 0.65rem 0.55rem 0.75rem;
  border-radius:1rem;
  min-width:400px;
  justify-content: space-between;
  margin-bottom: 1rem;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.wrn_content{
  display: flex;
  align-items:center;
}
.wrn_icon{
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius:39% 61% 42% 58% / 50% 51% 49% 50%;
  box-shadow:
  0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
  0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
  0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
  0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
  0px 48px 208.9px rgba(0, 0, 0, 0.05),
  0px 115px 500px rgba(0, 0, 0, 0.07)
}
.warning{
  background-color: rgba(213, 156, 63, 0.2);
  border:2px solid #e79d27ff;
}
.warning .wrn_icon{
  background-color: #f1d19fff;
}

.div_med{
  margin-inline: 30px;
}

#steps_frag h3 {
  color: rgba(137, 208, 196, 1);
}
body ol {
  list-style: none;
  counter-reset: item;
  font: 20px/1.5 Helvetica, sans-serif;
  color: rgba(136, 146, 144, 1);
}
#steps_frag li {
  counter-increment: item;
  margin-bottom: 20px;
}
#steps_frag li:before {
  margin-right: 10px;
  content: counter(item);
  background: rgba(137, 208, 196, 1);
  border-radius: 100%;
  color: white;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}
